@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared style  */
.text-primary {
  color: rgba(253, 110, 10, 1);
}
.dark-1 {
  color: rgba(24, 24, 24, 1);
}
.dark-2 {
  color: rgb(71, 71, 71);
}
.dark-3 {
  color: rgb(117, 117, 117);
}
.white {
  background-color: rgb(255, 255, 255);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 16px 30px;
  background-color: rgba(253, 110, 10, 1);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
/* nav section  */
.header {
  background-color: rgb(255, 248, 243);
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain, 50%;
}
.nav {
  padding: 20px 130px 0px;
}
.logo {
  font-weight: bolder;
  font-size: 40px;
  font-weight: 800;
}
.nav-list,
li,
a {
  gap: 20px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}
/* Banner section  */
.banner {
  padding: 20px 30px 0px 130px;
}
.banner-content {
  width: 50%;
  gap: 35px;
}
.banner-greeting {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
.banner-name {
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
}
.banner-descrition {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.banner-img {
  width: 500px;
  margin-bottom: -5px;
}
.buttons {
  margin-top: 25px;
}
.contact {
  background-color: white;
  margin-left: 20px;
  color: rgba(253, 110, 10, 1);
  border: 1px solid rgba(253, 110, 10, 1);
}
/* About Me Section   */
main {
  padding: 100px 130px;
}
.about {
  margin: 0 auto;
}
.about-content {
  padding: 130px 150px;
  background-color: rgb(255, 248, 243);
  border-radius: 10px;
  text-align: center;
}
.about-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.about-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.address-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.address-details {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
/* What I do */
.skills {
  text-align: center;
}
.skills-header {
  padding: 130px;
}
.skills-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.skills-header-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.skills-card {
  text-align: left;
  gap: 50px;
}
